/Css design
/GUI.py
/Rock_paper_scissors.py
/Untitled.drawio
/Untitled.drawio.xml
/app.py
/assignment.py
/clear
/favicon_io
/intro2
/learn-react
/learn.py
/learn.ts
/mod.py
/package-lock.json
/peotryEnviroment
/pi.txt
/portfoliowebsitediagrams.xml
/rps2.py
/test.json
/trial.js